<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--Bootstrap Links-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!--CSS Style Sheet-->
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

  <title>Papsmear!</title>
</head>

<body>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li><button type="button" class="btn btn-primary" href="/saved" id="saved">Saved</button></li>

    {{!-- <li class="nav-item">
      <a class="nav-link" href="/saved">Saved</a>
    </li> --}}
    <li><button type="button" class="btn btn-primary" id="scrape">Scrape Articles</button></li>
  </ul>

  {{{ body }}}


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/app.js"></script>

</body>

</html>
