body {
  background-image: url("/assets/img/1502gazette.jpg");
  background-size: 1400px;
  padding-top: 70px;
}
.panel-body {
  background: white;
}
.deleteNote {
display: inline-block;
}

.previousNotes {
  display: inline-block;
  width: 90%
}

#scrape {
  margin: 8px 0px;
}
