body {
  background-image: url("/assets/img/1502gazette.jpg");
  padding-top: 70px;
}

.deleteNote {
display: inline-block;
}

.previousNotes {
  display: inline-block;
  width: 90%
}

#scrape {
  margin: 8px 0px;
}
